.movies-container {
  max-width: 1100px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  margin: 20px 5px;

  @at-root &__pic {
      max-width: 300px;
      max-height: 450px;
  }

  @at-root &__title-and-year {
      display: flex;
  }

  @at-root &__year {
      border: 1px solid #000;
      margin-left: auto;
  }

  @at-root &__description{
      color: #808080;
  }
}

@supports (display: flex){
  @media screen and (max-width: 930px) {
    .movies-container {
      justify-content: space-around;
    }
    .movie {
      flex-basis: 30%;
    }
  }
}
