body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background: radial-gradient($background-color-inner, $background-color-outer);
    background-repeat: no-repeat;
}