$background-color-outer: rgb(213, 223, 224);
$background-color-inner: rgb(255, 255, 255);
$input-field-bg-color: rgba(255, 255, 255, 0.8);
$input-field-text-color: rgb(111, 195, 202);
$active-color: rgb(111, 195, 202);
$todo-text-color: #757575;