* {
    box-sizing: border-box;
    font-family: 'my-font';
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient($background-color-inner, $background-color-outer);
    height: 100vh;
    background-repeat: no-repeat;
}